<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Passengers</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>Title</th>
                    <th>First Name</th>
                    <th>Surname</th>
                    <th>Passport ID</th>
                    <th>Options</th>
                </tr>
                </thead>

                <tbody>
                {% for passenger in passengers %}
                    <tr>
                        <td>{{ constant('AppBundle\\Entity\\Passenger::TITLE_TYPES')[passenger.title] }}</td>
                        <td>{{ passenger.firstname }}</td>
                        <td>{{ passenger.surname }}</td>
                        <td>{{ passenger.passportId }}</td>
                        <td>
                            <form method="post" action="{{ path('passenger_delete', {'id': passenger.id}) }}"
                                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ passenger.id) }}">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('passenger_new') }}" class="btn btn-success pull-right">Add</a>
        </div>
    </div>
</div>