<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Trips</h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Departure</th>
                    <th>Arrival</th>
                    <th>Passengers</th>
                    <th>Options</th>
                </tr>
                </thead>

                <tbody>
                {% for trip in trips %}
                    <tr>
                        <td>{{ trip.fromCode }}</td>
                        <td>{{ trip.toCode }}</td>
                        <td>{{ trip.departureAt|date('d/M/Y H:i') }}</td>
                        <td>{{ trip.arrivalAt|date('d/M/Y H:i')  }}</td>
                        <td>
                            {%- for passenger in trip.passengers -%}
                                {{ passenger }}{% if loop.last == false %}, {% endif %}
                            {%- endfor -%}
                        </td>
                        <td>
                            <form method="post" action="{{ path('trip_delete', {'id': trip.id}) }}"
                                  onsubmit="return confirm('Are you sure you want to delete this item?');">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trip.id) }}">
                                <button class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <a href="{{ path('trip_new') }}" class="btn btn-success pull-right">Add</a>
        </div>
    </div>
</div>