{% extends 'base.html.twig' %}

{% block title %}Customer Portal{% endblock %}

{% block body %}
    <h1>Customer Portal</h1>

    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default ">
                <div class="panel-heading">
                    <h3 class="panel-title">Basic info</h3>
                </div>
                <div class="panel-body">

                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button class="btn btn-primary pull-right">Save</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>

    <hr class="clear">

    {{ include('admin/_passenger_list.html.twig') }}

    <hr class="clear">

    {{ include('admin/_trip_list.html.twig') }}
{% endblock %}
