{% extends 'base.html.twig' %}

{% block title %}Passenger{% endblock %}

{% block body %}
    <h1>Add Passenger</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">Save</button>
    {{ form_end(form) }}
{% endblock %}
