{% extends 'base.html.twig' %}

{% block title %}Trip{% endblock %}

{% block body %}
    <h1>Add Trip</h1>

    {{ form_start(form) }}
        {{ form_errors(form) }}

        {{ form_row(form.fromCode) }}
        {{ form_row(form.toCode) }}

        <div class="form-group {% if form.departureAt.vars.valid == false %}has-error{% endif %}">
            {{ form_errors(form.departureAt) }}
            <div class="input-group date datepicker">
                {{ form_widget(form.departureAt, {attr: {placeholder: 'Departure at'}, type: 'text'}) }}
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>


        <div class="form-group {% if form.arrivalAt.vars.valid == false %}has-error{% endif %}">
            {{ form_errors(form.arrivalAt) }}
            <div class='input-group date datepicker'>
                {{ form_widget(form.arrivalAt, {attr: {placeholder: 'Arrival at'}, type: 'text'}) }}
                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>

        {{ form_row(form.passengers) }}

        <button class="btn">Save</button>
    {{ form_end(form) }}
{% endblock %}
